body{
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main-body{
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
}
.left{
    background-color: rgb(110, 107, 107);
}
.right{
    background-image: url(/static/bgimage.jpg);
    height: 100vh;
    background-size: cover;
}
.head{
    position: absolute;
    top: 40%;
    margin-left: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.head>h1{
    font-size: 50px; 
}
.one{
    display: flex;
 align-items: center;
 justify-content: center;
}
.one>img{
    width: 20px;
    height: 20px;
  margin: 15px;
  margin-top: 40px;
}
.home>img , .prediction>img , .about>img , .contact>img{
    width: 20px;
    height: 20px;
  margin: 15px;
}
.home , .prediction , .about , .contact{
    display: flex;
}
.home>h3 , .prediction>h3 , .about>h3 , .contact>h3{
 color: white;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.two{
    margin-top: 80px;
}
.matter{
    margin: 40px;
}
.matter>p{
font-size: 21px;
}
.images{
    display: flex;
    justify-content: space-evenly;
}
.images>img{
    height: 200px;
    width: 300px;
}
.low{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 20px;
}
.low>button{
    font-size: large;
    width: 180px;
    border-radius: 20px;
    margin-top:10px;
    background-color: rgb(139, 139, 214);
}
.low>label{
    margin-top: 10px;
}
